{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Édition d'un LEcteur</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('partieC_lecteur_liste') }}">
            Retour à la liste
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
