<!DOCTYPE html>
<html>
    <head>
        <title>Login/Logout</title>
    </head>

    <body>
        <h1>Gestion de la Bibliothèque</h1>
        <p><a href="{{ path('bibliotheque_universitaire_menu') }}">Menu principal</a></p>
    </body>
</html>
