{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Création d'un nouveau Thème</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('partieA_theme_liste') }}">
                Retour à la liste
            </a>
        </li>
    </ul>
{% endblock %}
